$prime: #f4d942;
$prime-overlay: rgba(86, 81, 51,0.5);
body{
  margin-top: 100px;
}

.navbar{
  box-shadow: 2px 2px 5px $prime;
  opacity: 0.9;
  background: #fff;
  .nav-item{
    font-size: 1.5rem;
    padding-right: 1.5rem;
  }
}
#stickybar{
  width: 100%;
  background: shortcutred;
  background: linear-gradient(to right, #E8592E, #FDC81E);
  border-radius: 10px;
}

#heading{
  position: relative;
  background: url("../img/clean banner School of Startups may18-01.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;

  .prime-overlay{
    background: $prime-overlay;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.pos-rel{
  position: relative;
}
.pos-abs{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#test1{
  position: relative;
  min-height: 200px;
  background: url("../img/clean banner School of Startups may18-02.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 ;
  text-align: center;

}
%sosbg{
  position: relative;
  min-height: 200px;
  background: url("../img/clean banner School of Startups may18-02.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 0 -100px;
  text-align: center;
}

#test2{
  @extend %sosbg;
}

#test3{
  @extend %sosbg;
}

#test4{
  @extend %sosbg;
}

#test5{
  @extend %sosbg;
}
