{%extends 'template.html'%}
{%block content%}
<section id="biz">
  <div class="container">
    <!-- IDW -->
    <div class="row py-5">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5>Idea Development Weekend</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Description and time table of this week here</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="static/img/Clean tracks and arrows-03.png" alt="idw" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <!-- BIZTRACK -->
    <div class="row mb-5">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="static/img/Clean tracks and arrows-03.png" alt="idw" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5>Business Track</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Description and time table of this week here</p>
          </div>
        </div>
      </div>
    </div>
    <!-- DESIGN TRACK -->
    <div class="row mb-5">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5>Design Track</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Description and time table of this week here</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="static/img/Clean tracks and arrows-03.png" alt="idw" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    <!-- TECH TRACK -->
    <div class="row mb-5">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <img src="static/img/Clean tracks and arrows-03.png" alt="idw" class="img-fluid">
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5>Tech Track</h5>
          </div>
          <div class="card-body">
            <p class="card-text">Description and time table of this week here</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock content%}
